.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background-color: #5E4485 !important;
  color: white;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0 !important; }

.navbar-brand {
  float: left;
  min-height: 15px;
  padding: 0 15px 5px !important; }

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a.focus,
.navbar-inverse .navbar-nav .active a.hover {
  color: white;
  background-color: #5E4485 !important; }

#myNavBar li a {
  font-family: raleway, monospace; }

.navbar-inverse .navbar-nav li a {
  color: #D5D5D5; }

.carousel img {
  width: 100%; }

.carousel-caption {
  top: 50%;
  font-family: righteous, monospace;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase; }

.btn {
  font-size: 18px;
  color: white !important;
  padding: 12px 22px !important;
  background: #5E4485 !important;
  border: 2px solid white !important; }
  .btn a {
    text-decoration: none !important;
    color: white !important; }

#about h4 {
  font-size: 34px;
  font-family: righteous, monospace; }

#about p {
  font-size: 16px;
  font-family: raleway, monospace; }

#about h2 {
  font-weight: bold;
  font-family: raleway, monospace;
  font-size: 20px; }

.center-image {
  margin: 0 auto; }

#projectSection {
  background-color: #5E4485;
  color: white;
  width: 100%;
  padding: 10%; }
  #projectSection h1 {
    font-family: righteous, monospace;
    font-size: 34px;
    text-align: center; }

.container {
  margin: 4% auto; }

#icon {
  max-width: 200px;
  margin: 1% auto; }

#techStack h2 {
  font-family: righteous, monospace; }

#techStack h4 {
  font-family: raleway, monospace;
  font-weight: bold; }

#thankYou h4 {
  font-size: 34px;
  font-family: righteous, monospace;
  text-align: center; }

#thankYou p {
  font-size: 16px;
  font-family: raleway, monospace; }

.move-down {
  padding-top: 12%;
  padding-bottom: 8%; }

footer {
  width: 100%;
  background-color: #5E4485;
  padding: 3%;
  color: white; }
  footer h1 {
    text-align: right;
    font-size: 14px;
    color: white; }

#contact h3 {
  font-size: 44px;
  font-family: righteous, monospace; }

#contact h4 {
  font-family: raleway, monospace; }

#contact a {
  color: white;
  font-size: 18px;
  font-family: raleway, monospace; }

#connect h3 {
  font-size: 44px;
  font-family: righteous, monospace;
  padding-bottom: 25px; }

#credits h1 {
  position: absolute;
  font-size: 0.9em; }

.fa {
  padding: 10px !important;
  font-size: 30px !important;
  color: white; }

.fa:hover {
  color: #D5D5D5;
  text-decoration: none; }

@media (max-width: 600px) {
  .carousel-caption {
    display: none; }
  #icon {
    max-width: 150px; }
  h2 {
    font-size: 1.7em; } }
